.logo{
  /* Navbar */
/* Navbar */
/* Graviti Logo 1 */

position: absolute;
width: 160px;
height: 69px;
left: 67px;
top: 6px;


}
.navbar{
  position: absolute;
  height:80px;
  width: 100%;
  background-color: white;
}
/* Navbar */

@media only screen and (max-width: 800px) {
 .navbar{
  z-index: -1;
 }

}

/* Graviti Logo 1 */


